<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
    <link rel="shortcut icon" href="./public/img/Captura de pantalla (517).png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header>
        <nav>
            <a href="../../index.html">Inicio</a>
            <a href="../../public/views/Acercade.html">Acerca de</a>
            <a href="../views/Portafolio.html">Portafolio</a>
            <a href="../views/servicios.html">Servicios</a>
            <a href="../views/contacto.html">Contacto</a>
            <a href="../views/Nuestro_trabajo.html">Nuestro trabajo</a>
        </nav>
        <section class="textos-header">
            <h1>vmc_tazaspersonalizadas</h1>
            <h2>Tazas De Ceramica y Plastico</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>


    

<!-- partial:index.partial.html -->

    <div class="slider">
      <div class="controls">
        <div class="up">
          <i class="fa fa-chevron-up"></i>
        </div>
        <div class="down">
          <i class="fa fa-chevron-down"></i>
        </div>
      </div>
    </aside>


      <div class="wrapper">
        <div class="left">
          <div>
            <h2>Nuestros primeros Pasos</h2>
            <p>
              Nacimos en la pandemia 
            </p>
          </div>

          <div>
            <h2>Conocimos las Tazas Magicas</h2>
            <p>
              Con cualquier liquido caliente revela la imagen q oculta,con agua fria se vuelve a ocultar a la imagen
            </p>
          </div>

          <div>
            <h2>Nuestras Tazas de Plastico</h2>
            <p>Conocimos nuestras tazas de Plastico y el conformador que sirve para no deformar nuestras tazas de Plastico y lograr una mejor experiencia a la hora de sublimar
            </p>
          </div>

          <div>
            <h2>Tazas con fotos Personaizadas</h2>
            <p>
              Te diseñamos la taza con el diseño que quieras o te armamos el diseño con muchas opciones  
            </p>
          </div>

          <div>
            <h2>Lo que quieras en tu taza</h2>
            <p>
             Te armamos el diseño con muchas opciones para que elijas
            </p>
          </div>
        </div>
        <div class="right">
          <div>
            <img src="../img/tazacara.jpg" alt="" />
          </div>

          <div>
            <img src="../img/tazaconfotos.jpg" alt="" />
          </div>

          <div>
            <img src="../img/disconfor.jpg" alt="" />
          </div>

          <div>
            <img src="../img/conocim.jpg" alt="" />
          </div>

          <div>
            <img src="../img/pandemia.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
</aside>

  </body>
<!-- partial -->
  <script  src="../../script.js"></script>
  <a href="../../index.html"></a>
</body>
</html>




    
      